:root {
  --clr-gray-light: #d7dfe2;
  --clr-gray-lightmed: #a2a9ab;
  --clr-gray-med: #616b74;
  --clr-gray-dark: #414b56;
  --clr-primary: #f9b700;
  --plyr-color-main: rgba(51, 170, 51, .1);
}

path {
  fill: var(--clr-primary);
}

.wave-top {
  top: 0;
}

.wave-bottom {
  bottom: 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  box-shadow: 0px 2px 10px var(--clr-gray-lightmed);
  background: white;
  border-radius: 0.25rem;
  position: relative;
  min-width: 350px;
  margin: 1rem;
  text-align: center;
  transition: 300ms all ease-in-out;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 2px 20px var(--clr-gray-lightmed);
}

.card-banner {
  border-bottom: 1px solid var(--clr-gray-light);
  padding: 4rem 0 2rem;
}
.card-banner .plan-tag {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--clr-gray-dark);
  background: var(--clr-gray-light);
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  position: absolute;
  z-index: 1;
  top: 1rem;
  left: 1rem;
  border-radius: 0.25rem;
}
.card-banner .highlight {
  color: white;
  background: var(--clr-primary);
}
.card-banner .plan-price {
  display: inline-block;
}
.card-banner .price {
  font-size: 4.5rem;
  position: relative;
  margin-bottom: -0.5rem;
  color: var(--clr-gray-dark);
}
.card-banner .non-plan-price {
    font-size: 3.5rem;
}

.card-banner .price::before {
  content: "₹";
  display: inline-block;
  font-size: 2rem;
  top: 0.8rem;
  position: absolute;
  text-align: left;
  left: -1.5rem;
}
.card-banner .price-month {
  font-size: 0.9rem;
}

.card-body {
  margin: 2rem 0;
}
.card-body .plan-name {
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.4rem;
  margin-bottom: 1rem;
}
.card-body .plan-feature-list {
  margin: 2rem 4rem;
  list-style: none;
}
.card-body .plan-feature {
  font-size: 0.9rem;
  margin: 1.5rem 0;
  text-align: left;
}
.card-body .plan-feature::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.3rem;
  /* content: "\f058"; */
  color: var(--clr-gray-lightmed);
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 1rem;
}

.btn {
  width: 250px;
  color: var(--clr-primary);
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid var(--clr-primary);
  background: white;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 300ms all ease-in-out;
}

.card:hover .btn {
  background: var(--clr-primary);
  color: white;
}

.banner_part .banner_text .limited_seats {
    margin-top: 10px;
    font-weight: bold;
    color: #0c2f60;
}

 /* Responsive  */

 @media only screen and (max-width: 768px) {
    .card {
      min-width: 300px;
      box-shadow: 0px 2px 4px var(--clr-gray-lightmed);
    }
    .card-body {
      padding: 0rem;
      margin: 1.2rem 0;
    }
    .card-banner .price {
      font-size: 4rem;
    }
    .card-banner .non-plan-price {
      font-size: 3rem;
    }
    .card-body .plan-name {
      display: none;
    }
    .card-body .plan-feature-list {
      margin: 1rem 4rem;
    }
}

.fa-check {
  color: #28a745;
}

.fa-remove {
  color: #dc3545;
}

#ytplayer {
  width: 600px;
  height: 300px;
}

@media only screen and (max-width: 768px) {
  #ytplayer {
    width: 300px;
    height: 150px;
  }
}

.hero-section {
  margin-top: -70px;
  flex-direction: row-reverse;
}

.hero-form {
  width: 500px;
  height: 600px;
  margin-top: -55px;
}

.hero-info {
  margin-top: -35px;
}

.video_container{
  width: 350px;
  height: 200px;
}

@media only screen and (max-width: 1200px) { 
  .hero-info {
    margin: 85px auto 10px auto;
  }
  .hero-form {
    width: 500px;
    height: 600px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .hero-video {
    margin: 70px auto 10px auto;
  }
  .hero-section {
    margin-top: 0px;
    flex-direction: row;
  }
  .hero-info {
    margin: 70px auto 10px auto;
  }
  .hero-form {
    width: 400px;
    height: 500px;
    margin-top: 0px;
  }
  .video_container{
    width: 100%;
    height: 60%;
    max-width: 350px;
    max-height: 200px;
  }
}

.form-input-material {
  padding-top: 20px
}

.form-input-material > label {
  width: 200px;
  font-weight: 700;
  font-size: 16px;
}

.reg-btn {
  margin-top: 20px;
  float: right;
  border-radius: 28px;
  padding: 10.5px 36px;
}

.login-form {
  width: 400px;
  height: 600px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0px 4px 20px -8px #000;
  margin: calc(50vh - 320px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  position: relative;
}

.form-input-material > input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}

.login-form > .form-title {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 200px;
  border-bottom: 3px solid #78788c;
}

.sharethis-inline-share-buttons {
  margin-top: 20px;
}

.color-text-orange {
  color: #ff663b; 
}

.nice-select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}

.nice-select .list {
  max-height: 180px;
  overflow: scroll;
}

.color-red {
  color:#ff0000b3;
}